* {background-color: rgb(230, 225, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10%;
      /* The image used */
      background-image: url("ny.jpg");
    
      /* Add the blur effect */
    
    
      /* Full height */
      height: auto;
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;}
  